/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <38 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R     &kp T          &kp Y        &kp U     &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL       &kp A  &kp S  &kp D         &kp F     &kp G          &kp H        &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V     &kp B          &kp N        &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LEFT_GUI  &kp LALT  &lt 1 SPACE    &lt 2 ENTER  &kp RALT  &tog 4
            >;
        };

        symbole {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB         &kp EXCL   &kp AT  &kp HASH  &kp DLLR      &kp PRCNT    &kp CARET  &kp AMPS       &kp ASTRK   &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL       &kp TILDE  &trans  &trans    &trans        &trans       &kp MINUS  &kp EQUAL      &kp LBKT    &kp RBKT  &kp BSLH  &kp GRAVE
&kp LEFT_SHIFT  &trans     &trans  &trans    &trans        &trans       &kp UNDER  &kp PLUS       &kp LBRC    &kp RBRC  &kp PIPE  &kp TILDE
                                   &kp LGUI  &kp LEFT_ALT  &trans       &kp RET    &kp RIGHT_ALT  &kp ESCAPE
            >;
        };

        num {
            bindings = <
&kp TAB           &kp N1  &kp N2  &kp N3        &kp N4        &kp N5       &kp N6  &kp N7         &kp N8      &kp N9  &kp N0  &kp BSPC
&kp LEFT_CONTROL  &kp N1  &kp N2  &kp N3        &kp N4        &kp N5       &kp N6  &kp N7         &kp N8      &kp N9  &kp N0  &trans
&kp LSHFT         &trans  &trans  &trans        &trans        &trans       &trans  &trans         &trans      &trans  &trans  &kp RSHFT
                                  &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE    &trans  &kp RIGHT_ALT  &kp ESCAPE
            >;
        };

        movement {
            bindings = <
&kp TAB           &trans  &trans    &kp UP      &trans      &trans            &trans          &trans      &trans      &trans  &trans    &kp BSPC
&kp LEFT_CONTROL  &trans  &kp LEFT  &kp DOWN    &kp RIGHT   &trans            &trans          &trans      &trans      &trans  &kp BSPC  &trans
&kp LSHFT         &trans  &trans    &bt BT_PRV  &bt BT_NXT  &bt BT_CLR_ALL    &bt BT_CLR_ALL  &bt BT_NXT  &bt BT_PRV  &trans  &trans    &kp RSHFT
                                    &trans      &kp LALT    &kp SPACE         &kp RET         &kp LGUI    &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans          &mmv MOVE_UP    &trans           &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans       &trans  &trans  &trans  &trans  &trans  &trans
                                &trans          &mkp LCLK        &mkp RCLK    &trans  &trans  &tog 4
            >;
        };
    };
};
